<%= form_tag "/client/products", method: :post do %>
  <div>
    Name: <input type="text" name="name" />
  </div>
  <div>
    Price: <input type="text" name="price" />
  </div>
  <div>
    Image: <input type="text" name="image_url" />
  </div>
  <div>
    Description: <input type="text" name="description" />
  </div>
  <input type="submit" name="" value="Create product" />
<% end %>
